@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer theme {
  :root {
    --background: #eff1f5;
    --background-lighten: #f5f7fa;
    --foreground: #4c4f69;
    --card: #ffffff;
    --card-foreground: #4c4f69;
    --popover: #e2e5eb;
    --popover-foreground: #4c4f69;
    --primary: #417ee5;
    --primary-foreground: #ffffff;
    --secondary: #d9dce4;
    --secondary-foreground: #4c4f69;
    --muted: #dce0e8;
    --muted-foreground: #6c6f85;
    --accent: #cbd3de;
    --accent-foreground: #4c4f69;
    --destructive: #e14871;
    --success: #17c964;
    --destructive-foreground: #ffffff;
    --border: #d5d8e0;
    --input: #ccd0da;
    --ring: #3b6dbc;
    --chart-1: #8b39ef;
    --chart-2: #04a1e5;
    --chart-3: #3ea02b;
    --chart-4: #fe680b;
    --chart-5: #dc8c78;
    --sidebar: #e6e9ef;
    --sidebar-foreground: #4c4f69;
    --sidebar-primary: #417ee5;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #04a1e5;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #bcc0cc;
    --sidebar-ring: #8b39ef;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.8rem;
    --shadow-2xs: 0px 5px 14.5px 0px hsl(242.069 16.763% 33.9216% / 0.06);
    --shadow-xs: 0px 5px 14.5px 0px hsl(242.069 16.763% 33.9216% / 0.06);
    --shadow-sm:
      0px 5px 14.5px 0px hsl(242.069 16.763% 33.9216% / 0.12),
      0px 1px 2px -1px hsl(242.069 16.763% 33.9216% / 0.12);
    --shadow:
      0px 5px 14.5px 0px hsl(242.069 16.763% 33.9216% / 0.12),
      0px 1px 2px -1px hsl(242.069 16.763% 33.9216% / 0.12);
    --shadow-md:
      0px 5px 14.5px 0px hsl(242.069 16.763% 33.9216% / 0.12),
      0px 2px 4px -1px hsl(242.069 16.763% 33.9216% / 0.12);
    --shadow-lg:
      0px 5px 14.5px 0px hsl(242.069 16.763% 33.9216% / 0.12),
      0px 4px 6px -1px hsl(242.069 16.763% 33.9216% / 0.12);
    --shadow-xl:
      0px 5px 14.5px 0px hsl(242.069 16.763% 33.9216% / 0.12),
      0px 8px 10px -1px hsl(242.069 16.763% 33.9216% / 0.12);
    --shadow-2xl: 0px 5px 14.5px 0px hsl(242.069 16.763% 33.9216% / 0.3);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: #181825;
    --background-lighten: #1b1b28;
    --foreground: #cdd5f4;
    --card: #1e1e2e;
    --card-foreground: #cdd5f4;
    --popover: #232430;
    --popover-foreground: #cdd5f4;
    --primary: #417ee5;
    --primary-foreground: #000000;
    --secondary: #30313b;
    --secondary-foreground: #cdd5f4;
    --muted: #292c3c;
    --muted-foreground: #a6acc8;
    --accent: #282842;
    --accent-foreground: #cdd5f4;
    --destructive: #fe2e65;
    --success: #17c964;
    --destructive-foreground: #1e1e2e;
    --border: #34354c;
    --input: #313244;
    --ring: #3b70ca;
    --chart-1: #8b39ef;
    --chart-2: #89daeb;
    --chart-3: #a5e3a1;
    --chart-4: #fab587;
    --chart-5: #f5e0dc;
    --sidebar: #14141f;
    --sidebar-foreground: #cdd5f4;
    --sidebar-primary: #417ee5;
    --sidebar-primary-foreground: #1e1e2e;
    --sidebar-accent: #89daeb;
    --sidebar-accent-foreground: #1e1e2e;
    --sidebar-border: #45475a;
    --sidebar-ring: #3b70ca;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.8rem;
    --shadow-2xs: 0px 5px 14.5px 0px hsl(241.5789 29.6875% 25.098% / 0.06);
    --shadow-xs: 0px 5px 14.5px 0px hsl(241.5789 29.6875% 25.098% / 0.06);
    --shadow-sm:
      0px 5px 14.5px 0px hsl(241.5789 29.6875% 25.098% / 0.12),
      0px 1px 2px -1px hsl(241.5789 29.6875% 25.098% / 0.12);
    --shadow:
      0px 5px 14.5px 0px hsl(241.5789 29.6875% 25.098% / 0.12),
      0px 1px 2px -1px hsl(241.5789 29.6875% 25.098% / 0.12);
    --shadow-md:
      0px 5px 14.5px 0px hsl(241.5789 29.6875% 25.098% / 0.12),
      0px 2px 4px -1px hsl(241.5789 29.6875% 25.098% / 0.12);
    --shadow-lg:
      0px 5px 14.5px 0px hsl(241.5789 29.6875% 25.098% / 0.12),
      0px 4px 6px -1px hsl(241.5789 29.6875% 25.098% / 0.12);
    --shadow-xl:
      0px 5px 14.5px 0px hsl(241.5789 29.6875% 25.098% / 0.12),
      0px 8px 10px -1px hsl(241.5789 29.6875% 25.098% / 0.12);
    --shadow-2xl: 0px 5px 14.5px 0px hsl(241.5789 29.6875% 25.098% / 0.3);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes buttonScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  .button-scale {
    animation: buttonScale 0.25s ease-in-out;
  }
}
